{# templates/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}
{% extends 'layout.html.twig' %}
    {% block content %}
        {% include 'header.html.twig' %}
        <div class="container-fluid pt-4">
            <div class="row">
                <div class="col-sm-8 col-md-6 col-lg-4 mx-auto">
                    <div class="card p-2 shadow mx-auto">
                        <div class="card-header text-center mb-3">
                            ACCESO
                        </div>
                        {% if error %}
                            <div class="alert alert-danger text-center" role="alert">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        <form action="{{ path('login') }}" method="post">
                            <div class="form-row">
                                <div class="form-group col">
                                    <label class="" for="username"><strong>Usuario</strong></label>
                                    <input type="text" class="form-control" id="username"  name="_username" value="{{ last_username }}" placeholder="Usuario">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label class="" for="password"><strong>Password</strong></label>
                                    <input type="password" class="form-control" id="password" name="_password" placeholder="Password">
                                </div>
                            </div>
                            <div class="mx-auto text-center mt-3">
                                <button type="submit" class="btn btn-primary w-100">Acceso</button>
                            </div>
                            <div class="mx-auto text-center mt-4">
                                <p>¿Aún no estás registrado? <a href="/registrar/">Regístrate</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}