{% extends 'layout.html.twig' %}
{% block content %}
    {% include 'default/logo.html.twig' %}
    {% include 'header.html.twig' %}
    <div class="container-fluid">
        <div id="carouselExampleIndicators" class="carousel slide m-auto" data-ride="carousel" style="max-width: 750px">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img style="max-height: 500px" class="d-block img-fluid m-auto" src="{{ asset('build/img/graduacion.jpg') }}" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img style="max-height: 500px" class="d-block img-fluid m-auto" src="{{ asset('build/img/orla_02.jpg') }}" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img style="max-height: 500px" class="d-block img-fluid m-auto" src="{{ asset('build/img/fotoescuela_02.jpg') }}" alt="Third slide">
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="container-fluid my-paroller" style="background: url('{{ asset('build/img/graduacion.jpg') }}') no-repeat center;
        background-size: cover;"
         data-paroller-type="background"
        data-paroller-factor="0.2"
        data-paroller-factor-xs="0.2">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <h1 class="text-center">Hola</h1>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
{% endblock %}
