<div id="logo" class="container-fluid d-none d-lg-block d-md-none" style="background-color: #FA0405;">
    <br/>
    <img src="{{ asset('build/img/logo.jpg') }}" style="width: 40%;" alt="" class="shadow img-fluid mx-auto d-block rounded">
    <br/>
</div>