{% extends 'layout.html.twig' %}
{% block content %}
    <div id="construccion-page">
        <img style="max-height: 350px" class="center-block img-responsive" src="img/construccion.png" />
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}