{% extends 'layout.html.twig' %}
{% block logo %}
    {% include 'default/logo.html.twig' %}
{% endblock %}
{% block content %}
    <div class="container-fluid text-center">
        <h2>Orlas y orlines</h2>
        <hr style="width: 100px; margin: 40px auto" class="half-rule">
        <div class="row text-center">
            <div class="col-sm-offset-2 col-sm-4"> <img alt="Imagen 1" src="{{ asset('img/orla_02.jpg') }}" class="img-responsive">
                <h3>Orlas</h3>
                <p style="font-size: 16px; font-weight: 300; line-height: 1.4; color: #555;" ></p>
            </div>
            <div class="col-sm-4"> <img alt="Imagen 2" src="{{ asset('img/orla_02.jpg') }}" class="img-responsive">
                <h3>Orlines</h3>
                <p style="font-size: 16px; font-weight: 300; line-height: 1.4; color: #555;" ></p>
            </div>
        </div>
        <hr style="width: 100px; margin: 40px auto" class="half-rule">
    </div>
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}

{% endblock %}