{% extends 'layout.html.twig' %}
    {% block content %}
        {% include 'header.html.twig' %}
        <div class="container-fluid pt-4">
            <h1>{{ pruebas }}</h1>
        </div>
    {% endblock %}