{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}

{% for rol in field.value %}
    {% if rol == 'ROLE_SUPER_ADMIN' %}
        <span class="badge badge-danger">Super Admin</span>
    {% elseif rol == 'ROLE_ADMIN' %}
            <span class="badge badge-danger">Admin</span>
    {% elseif rol == 'ROLE_ACADEMICA' %}
            <span class="badge badge-primary">Académico</span>
    {% elseif rol == 'ROLE_SOCIAL' %}
            <span class="badge badge-success">Social</span>
    {% endif %}
{% endfor %}