{% extends '@!EasyAdmin/crud/detail.html.twig' %}
{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}


{% block login_as %}
    {% if ('App\\Entity\\User' == ea.entity.fqcn) and (app.user.email != entity.instance.email) %}
    <section class="content" style="padding-top: 5px">
        <a href="{{ url('homepage', {'_switch_user': entity.instance.email}) }}" class="btn btn-warning"><i class="bi bi-person-bounding-box"></i> Entrar como usuario</a>
    </section>  
    {% endif %}
{% endblock %}
